@charset "UTF-8";
@import './../css/custom.css';
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
	font-family: Daydreamer;
	src: url("../fonts/CopperplateGothicBoldBT.eot");
	src: url("../fonts/CopperplateGothicBoldBT.ttf") format('truetype');
}
@font-face {
	font-family: simplicity;
	src: url("../fonts/simplicity.eot");
	src: url("../fonts/simplicity.ttf") format('truetype');
}
@font-face {
	font-family: OpenSans;
	src: url("../fonts/OpenSans-Regular.eot");
	src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}
h1,
h4,
h2 {
	font-family: Daydreamer;
}
a {
	color: #357E7B;
}
.LetraVerde {
	color: #357E7B;
}
h4.Rojo {
	color: #357E7B;
}
body {
	color: #bbb8b3;
	background-color: cFnormal;
	font-family: simplicity, OpenSans, Arial, Helvetica, sans-serif;
}
