@charset "UTF-8";
@import './../css/custom.css';
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
	font-family: Daydreamer;
	src: url("../fonts/CopperplateGothicBoldBT.eot");
	src: url("../fonts/CopperplateGothicBoldBT.ttf") format('truetype');
}
@font-face {
	font-family: simplicity;
	src: url("../fonts/simplicity.eot");
	src: url("../fonts/simplicity.ttf") format('truetype');
}
@font-face {
	font-family: OpenSans;
	src: url("../fonts/OpenSans-Regular.eot");
	src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}
h1,
h4,
h2 {
	font-family: Daydreamer;
}
a {
	color: #357E7B;
}
.LetraVerde {
	color: #357E7B;
}
h4.Rojo {
	color: #357E7B;
}
body {
	color: #bbb8b3;
	background-color: cFnormal;
	font-family: simplicity, OpenSans, Arial, Helvetica, sans-serif;
}
.PieDespues {
	background-color: #121111;
	color: white;
}
.PieDespues a {
	color: white;
}
.moduletable.menu {
	background-color: #121111;
}
.maximenu {
	display: table;
	margin: 0px auto;
}
li.Nivel1 {
	font-family: simplicity;
	color: #9e9086;
	font-size: 1.2em;
}
li.Nivel1:hover {
	box-shadow: -2px -2px 0px #E9E9E9;
	background-color: white;
	color: #357E7B;
}
a.Nivel1 {
	color: white;
}
a.Nivel1:hover {
	text-decoration: none;
	color: #357E7B;
}
div.maximenu2 {
	background-color: white;
	padding: 2%;
	z-index: 2000;
	width: 100%;
	left: 15px;
}
ul.maximenu,
ul .descendente1,
ul .descendente2 {
	font-family: simplicity;
	letter-spacing: 1px;
	line-height: 1.3em;
}
a.Nivel2 {
	color: #9e9086;
	font-family: simplicity;
	font-size: 1em;
}
li a.Nivel3 {
	font-size: 0.8em;
	color: #bbb8b3;
}
a.Nivel3 {
	font-family: simplicity;
}
